<div id="game" class="row">
  <div class="large-6 large-offset-3">
    <h2>Welcome to the {{ title }} page!</h2>

    <div class="alert-box">{{ message }}</div>

    <ul id="board" class="small-block-grid-3">
      <li>0,0</li>
      <li>0,1</li>
      <li>0,2</li>
      <li>1,0</li>
      <li>1,1</li>
      <li>1,2</li>
      <li>2,0</li>
      <li>2,1</li>
      <li>2,2</li>
    </ul>

    <div class="row">
      <div class="large-12 columns">
        <button ng-click="logout()" class="button large expand radius">Log Out</button>
      </div>
    </div>
  </div>
</div>
